.sectionContainer {
   padding: 20px 0;
}

.container {
   display: flex;
   flex-direction: column;
}

.locationContainer {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
}

.locationContainer span {
   font-size: 22px;
   font-weight: 700;
   line-height: 32px;
   color: var(--color-gray-100);
}

.locationContainer img {
   width: 30px;
   height: 30px;
}

.tempContainer {
   margin-top: 15px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

.temperature {
   border: 1px solid var(--color-purple-500);
   padding: 14px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 7px 9px 1px #0003;
}

.temperature p { 
   font-size: 20px;
   font-weight: 700;
   line-height: 28px;
   color: var(--color-gray-50);
}
.temperature span { 
   font-size: 14px;
   font-weight: 400;
   color: var(--color-gray-300);
}

.informationsContainer {
   display: flex;
   align-items: center;
}

.weatherContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 220px;
}

.weatherContent img {
  width: 100px;
  object-fit: contain;
  height: auto;
}

.weatherContent p {
   font-size: 16px;
   line-height: 26px;
   font-weight: 400;
   color: var(--color-gray-200);
   text-transform: capitalize;
}

.informations {
   flex: 1;
   padding: 20px 0;
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

@media (max-width: 767px) {
   .weatherContent {
      min-width: unset;
      padding: 20px;
   }
   .informations {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 389px) {
   .informationsContainer {
      flex-direction: column;
   }
   .informations {
      grid-template-columns: repeat(3, 1fr);
   }
}

.information {
   border: 1px solid var(--color-purple-500);
   padding: 14px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 7px 9px 1px #0003;
}

.loaderContainer {
   padding: 15px 0;
}

.currentLocation {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 15px 0;
}

.detailContainer {
   display: flex;
   align-items: center;
   margin-top: 20px;
   gap: 30px;
}

.weatherLoading {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding: 15px 0;
}

.itemsLoading {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   margin-top: 10px;
}

.descriptionsContainer {
   display: grid;
   padding: 20px 0;
   gap: 20px;
   grid-template-columns: repeat(3, 1fr);
   flex: 1;
}


@media (max-width: 767px) {
   .descriptionsContainer {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 389px) {
   .detailContainer {
      flex-direction: column;
   }
   .descriptionsContainer {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
   }
}