:root {
  --color-white: #FFF;
  --color-black: #000;
  --color-gray-50: #eaeaea;
  --color-gray-100: #bebebf;
  --color-gray-200: #9e9ea0;
  --color-gray-300: #727275;
  --color-gray-400: #56565a;
  --color-gray-500: #2c2c31;
  --color-gray-600: #28282d;
  --color-gray-700: #1f1f23;
  --color-gray-800: #18181b;
  --color-gray-900: #121215;
  --color-purple-400: #9b79ea;
  --color-purple-500: #8257e5; 
  --color-purple-600: #764fd0; 
  --color-purple-700: #5c3ea3; 
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-green-400: #36dc81;
  --color-green-500: #04d361;
  --color-green-600: #04c058;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--color-gray-800);
  height: 100vh;
}

.weather-app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.weather-app-content {
  width: 100%;
  max-width: 600px;
  background-color: var(--color-gray-500);
  border-radius: 8px;
  height: 100%;
  color: var(--color-gray-50);
  display: flex;
  flex-direction: column;
}

.weather-app-scroll {
  flex: 1;
  padding: 20px 24px;
  overflow: auto;
}

.weather-app-scroll::-webkit-scrollbar {
  width: 3px;
  border-radius: 8px;
  background-color: var(--color-gray-600);
}

.weather-app-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-purple-500);
  border-radius: 3px;
}

.weather-app-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (max-width: 580px) {
  .weather-app-container {
    padding: 0px;
  }
  .weather-app-content {
    max-width: unset;
    border-radius: 0px;
  }
}