.headerContainer {
   padding: 24px;
   border-bottom: 1px solid var(--color-gray-100);
}

.headerTitle {
   font-size: 34px;
   line-height: 44px;
}

.headerTitle > span {
   color: var(--color-purple-400);
   font-weight: 700;
}

.headerDescription {
   font-size: 14px;
   line-height: 20px;
   display: block;
   margin-top: 20px;
}

@media (max-width: 768px) {
   .headerTitle {
      font-size: 20px;
      line-height: 30px;
   }

   .headerDescription {
      font-size: 12px;
      line-height: 18px;
   }
}