.mapContainer {
   flex: 1;
   position: relative;
}

.inputContainer {
   padding: 10px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 99999;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.inputContent {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 420px;
}

.inputContent input {
   flex: 1;
   padding: 10px 16px;
   border: 0;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   box-shadow: 7px 4px 1px #0003;
   font-size: 12px;
   font-weight: 400;
   color: var(--color-gray-900);
   outline-color: var(--color-purple-600);
}

.inputContent input::placeholder {
   color: var(--color-gray-200);
}

.inputContent .button {
   width: auto;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border: 0;
   box-shadow: 7px 4px 1px #0003;
}

.loaderContainer {
   flex: 1;
}

.skeleton {
   height: 100%;
}